.form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
.formbtn{
    border: 2px solid blue;
    border-radius: 5px;
    color: black;
    background-color:white;
    cursor: pointer;
    margin: 0 auto;
}
.formbtn:hover{
    border: 2px solid rgb(5, 223, 5);

}